/* Universal Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-weight: normal;
}

:root {
    --blue-color: #0A1A37;
    --orange-color: #EC5E10;
    --i-love-glitter-font: 'I Love Glitter';
    --jost-light-font: 'Jost Light';
    --jost-book-font: 'Jost Book';
    --poppins-light-font: 'Poppins Light';
    --poppins-regular-font: 'Poppins Regular';
    --poppins-medium-font: 'Poppins Medium';
    --poppins-semi-bold-font: 'Poppins SemiBold';
}

@font-face {
    font-family: 'I Love Glitter';
    src: url('../fonts/glitter/i-love-glitter.ttf') format('truetype');
}

@font-face {
    font-family: 'Jost Light';
    src: url('../fonts/jost/Jost-300-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Jost Book';
    src: url('../fonts/jost/Jost-400-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
}

/* Header */

header#hero-area {
    width: 100%;
    height: 100vh;
    background-color: var(--blue-color);
    padding-top: 40px;
    background-image: url('../images/svg/background-illustartion.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Navigation Section */
nav {
    width: 88%;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo-container {
    flex: 1;
}

.logo-container p {
    font-family: var(--i-love-glitter-font);
    font-size: 2.3rem;
    color: white;
    display: flex;
    justify-content: flex-start;
}

.navigation-list {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.navigation-list ul {
    list-style-type: none;
}

.navigation-list ul li {
    font-family: var(--jost-light-font);
    font-size: 1rem;
    display: inline-block;
}

.navigation-list ul li a {
    margin-left: 2rem;
    color: white;
    text-decoration: none;
}

.call-to-action-button {
    flex: .8;
    display: flex;
    justify-content: flex-end;
}

.call-to-action-button button {
    background-color: var(--orange-color);
    border-radius: 29px;
    border: none;
    padding: 0.5rem 2rem;
}

.call-to-action-button button a {
    text-decoration: none;
    font-family: var(--jost-book-font);
    font-size: 0.9rem;
    color: white;
}

/* Main Heading Section */

#main-heading-section {
    width: 88%;
    height: 400px;
    margin: 120px auto 165px;
    display: flex;
}

#main-heading {
    width: 50%;
    height: auto;
    overflow: hidden;
}

.heading-content p {
    font-family: var(--poppins-medium-font);
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.heading-content h1 {
    font-family: var(--poppins-semi-bold-font);
    font-size: 2.8rem;
    color: var(--orange-color);
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 8px;
}

.heading-content .main-heading-description {
    font-family: var(--poppins-light-font);
    font-size: 0.85rem;
    text-transform: none;
}

#main-heading .call-to-action-button {
    display: flex;
    justify-content: flex-start;
    margin: 40px 0px 20px;
}

#main-heading .call-to-action-button a {
    padding: 0.4rem 2rem;
    display: inline-block;
}


/* Follow Us Section */
.follow-us {
    width: 100%;
    height: auto;
    display: flex;
    align-items: baseline;
}

.follow-us p {
    font-family: var(--poppins-regular-font);
    font-size: 1rem;
    color: white;
    margin-right: 1rem;
}

#social-media-icons {
    list-style-type: none;
}

#social-media-icons li {
    display: inline-block;
}

#social-media-icons li a {
    text-decoration: none;
    margin-right: 0.7rem;
}

#social-media-icons li a .fab {
    color: white;
}

/* Right Side */
#team-illustartion {
    width: 50%;
    height: auto;
}

#team-illustartion img {
    max-width: 100%;
    height: auto;
}

/* Services Section */

#our-services {
    width: 100%;
    height: 1000px;
    background-color: #ebebeb;
    padding-top: 7.5rem;
    background-image: url('../images/svg/polygon-shapes.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -120px;
}

#our-services header {
    width: 36%;
    height: auto;
    text-align: center;
    margin: 0 auto 7.5rem;
}

#our-services header h2 span {
    font-family: var(--poppins-regular-font);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--blue-color);
    letter-spacing: -0.5px;
}

#our-services header h2 {
    font-family: var(--poppins-medium-font);
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: -2px;
    color: var(--orange-color);
    text-transform: uppercase;
    position: relative;
}

#our-services header h2::after {
    content: '';
    width: 140px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--blue-color);
    position: absolute;
    bottom: 0;
    left: 35.5%;
    transform: translateY(10px);
}

#our-services header p {
    font-family: var(--poppins-regular-font);
    font-size: 0.9rem;
    color: var(--blue-color);
    margin-top: 1.5rem;
}

#services-list {
    margin: auto;
    width: 88%;
    height: 350px;
    display: grid;
    grid-template: repeat(1, 100%) / repeat(4, 1fr);
    grid-column-gap: 10px;
}

#services-list .service {
    background-color: #F1F1F1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03);
    border-radius: 5px;

}

#services-list .service-1 {
    grid-area: 1 / 1 / span 1 / span 1;
}

#services-list .service-2 {
    grid-area: 1 / 2 / span 1 / span 1;
}

#services-list .service-3 {
    grid-area: 1 / 3 / span 1 / span 1;
}

#services-list .service-4 {
    grid-area: 1 / 4 / span 1 / span 1;
}



