/* Universal Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-weight: normal;
}

:root {
    --blue-color: #0A1A37;
    --orange-color: #EC5E10;
    --off-white-color: #f1f1f1;
    --grey-color : #ebebeb;
    --white-color: #ffffff;
    --i-love-glitter-font: 'I Love Glitter';
    --jost-light-font: 'Jost Light';
    --jost-book-font: 'Jost Book';
    --jost-medium-font: 'Jost Medium';
    --poppins-light-font: 'Poppins Light';
    --poppins-regular-font: 'Poppins Regular';
    --poppins-medium-font: 'Poppins Medium';
    --poppins-semi-bold-font: 'Poppins SemiBold';
}

@font-face {
    font-family: 'I Love Glitter';
    src: url('../fonts/glitter/i-love-glitter.ttf') format('truetype');
}

@font-face {
    font-family: 'Jost Light';
    src: url('../fonts/jost/Jost-300-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Jost Book';
    src: url('../fonts/jost/Jost-400-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Jost Medium';
    src: url('../fonts/jost/Jost-500-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
}

/* Header */

header#hero-area {
    width: 100%;
    height: auto;
    background-color: var(--blue-color);
    padding-top: 40px;
    padding-bottom: 25px;
}

/* Desktop Navigation Section */
#desktop-navigation {
    width: 88%;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo-container {
    flex: 1;
}

.logo-container p {
    font-family: var(--i-love-glitter-font);
    font-size: 2.3rem;
    color: var(--white-color);
    display: flex;
    justify-content: flex-start;
}

.desktop-navigation-list {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.desktop-navigation-list ul {
    list-style-type: none;
}

.desktop-navigation-list ul li {
    font-family: var(--jost-light-font);
    font-size: 1rem;
    display: inline-block;
}

.desktop-navigation-list ul li a {
    margin-left: 2rem;
    color: var(--white-color);
    text-decoration: none;
}

.desktop-navigation-list ul li a:hover {
    color: var(--orange-color);
}

.call-to-action-button {
    flex: .8;
    display: flex;
    justify-content: flex-end;
}

.call-to-action-button button {
    background-color: var(--orange-color);
    border-radius: 29px;
    border: none;
    padding: 0.5rem 2rem;
}

.call-to-action-button button a {
    text-decoration: none;
    font-family: var(--jost-book-font);
    font-size: 0.9rem;
    color: var(--white-color);
}

/* Mobile Navigation Section */

#mobile-navigation {
    display: none;
}

@media only screen and (max-width: 400px) {
    #desktop-navigation {
        display: none;
    }

    header#hero-area {
        padding-top: 28px;
        height: 93vh;
        width: 100%;
    }

    #mobile-navigation {
        display: block;
        width: 100%;
        height: auto;
        margin: auto;
    }

    .mobile-logo-container {
        width: 88%;
        margin: auto;
        display: flex;
        align-items: center;
    }

    #mobile-navigation .logo-container p {
        color: var(--off-white-color);
    }

    #menu {
        height: 93vh;
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 100%;
        transition: all 200ms ease-in;
        background-color: rgba(235, 235, 235, 0.99);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 0;
    }

    .menu-icon {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    .menu-icon svg:hover {
        cursor: pointer;
    }

    #Line_1,
    #Line_2,
    #Line_3 {
        stroke: var(--off-white-color);
    }

    .menu-icon svg:hover #Line_1,
    .menu-icon svg:hover #Line_2,
    .menu-icon svg:hover #Line_3 {
        stroke: var(--orange-color);
    }

    #arrow-icon {
        position: absolute;
        top: 24px;
        right: 35px;
        color: var(--blue-color);
        font-size: 2rem;
        font-weight: bold;
    }

    #arrow-icon:hover {
        color: var(--orange-color);
        cursor: pointer;
    }

    .mobile-navigation-list {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .mobile-navigation-list ul {
        list-style-type: none;
    }
    
    .mobile-navigation-list ul li {
        font-family: var(--jost-light-font);
        font-size: 2rem;
        display: block;
        margin-bottom: 1em;
    }
    
    .mobile-navigation-list ul li a {
        color: var(--blue-color);
        text-decoration: none;
    }
    
    .mobile-navigation-list ul li a:hover {
        color: var(--orange-color);
    }
}

/* Main Heading Section */

#main-heading-section {
    width: 88%;
    height: 400px;
    margin: 120px auto 0px;
    display: flex;
}

#main-heading {
    width: 50%;
    height: auto;
    overflow: hidden;
}

.heading-content p {
    font-family: var(--poppins-medium-font);
    color: var(--off-white-color);
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 6px;
    width: 70%;
}

.heading-content h1 {
    font-family: var(--poppins-semi-bold-font);
    font-size: 2.8rem;
    color: var(--orange-color);
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 8px;
}

.heading-content .main-heading-description {
    font-family: var(--poppins-light-font);
    font-size: 0.85rem;
    text-transform: none;
}

#main-heading .call-to-action-button {
    display: flex;
    justify-content: flex-start;
    margin: 40px 0px 20px;
}

#main-heading button {
    background-color: var(--orange-color);
    border-radius: 29px;
    border: none;
    padding: 0.8rem 3rem;
}

#main-heading .call-to-action-button a {
    text-decoration: none;
    font-family: var(--jost-book-font);
    font-size: 0.9rem;
    color: var(--white-color);
    text-transform: uppercase;
}

@media only screen and (max-width: 400px) {
    #main-heading-section {
        margin-top: 100px;
    }

    #main-heading {
        width: 100%;
    }

    .heading-content h1 {
        font-size: 2.2rem;
        line-height: 1.25;
        font-family: var(--jost-book-font);
        margin-bottom: 10px;
    }

    .heading-content p {
        width: 100%;
    }

    .heading-content .main-heading-description {
        font-size: 0.8rem;
    }

    #main-heading .call-to-action-button {
        margin-bottom: 30px;
    }
}

/* Follow Us Section */
.follow-us {
    width: 100%;
    height: auto;
    display: flex;
    align-items: baseline;
}

.follow-us p {
    font-family: var(--poppins-regular-font);
    font-size: 1rem;
    color: var(--white-color);
    margin-right: 1rem;
}

#social-media-icons {
    list-style-type: none;
}

#social-media-icons li {
    display: inline-block;
}

#social-media-icons li a {
    text-decoration: none;
    margin-right: 0.7rem;
    color: var(--white-color);
}

#social-media-icons li a .fab:hover {
    color: var(--orange-color);
}

@media only screen and (max-width: 400px) {
    #social-media-icons li a {
        color: var(--off-white-color);
    }
}

/* Right Side */
.team-illustartion {
    width: 50%;
    height: auto;
}

.team-illustartion img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 400px) {
    .team-illustartion {
        display: none;
    }
}

/* Services Section */

#our-services {
    width: 100%;
    height: auto;
    background-color: var(--grey-color);
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    background-image: url('../images/svg/polygon-shapes.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -100px;
}

#our-services header {
    width: 36%;
    height: auto;
    text-align: center;
    margin: 0 auto 6rem;
}

#our-services header h2 span {
    font-family: var(--poppins-regular-font);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--blue-color);
    letter-spacing: -0.5px;
}

#our-services header h2 {
    font-family: var(--poppins-medium-font);
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: -2px;
    color: var(--orange-color);
    text-transform: uppercase;
    position: relative;
}

#our-services header h2::after {
    content: '';
    width: 20%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--blue-color);
    position: absolute;
    bottom: 0;
    left: 39.3%;
    transform: translateY(10px);
    opacity: 0.9;
}

#our-services header p {
    font-family: var(--poppins-regular-font);
    font-size: 1rem;
    color: var(--blue-color);
    margin-top: 1.5rem;
}

#services-list {
    margin: auto;
    width: 88%;
    height: 380px;
    display: grid;
    grid-template: repeat(1, 100%) / repeat(4, 1fr);
    grid-column-gap: 10px;
}

#services-list .service {
    background-color: var(--off-white-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2.8rem 1.2rem;
    text-align: center;
}

.service figure img {
    width: 65px;
    height: auto;
}

.service h3 span {
    font-family: var(--poppins-regular-font);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--blue-color);
    letter-spacing: -0.5px;
}

.service h3 {
    font-family: var(--poppins-medium-font);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -1.4px;
    color: var(--orange-color);
    text-transform: uppercase;
    margin-top: 2rem;
}

.service p {
    font-family: var(--poppins-regular-font);
    font-size: 0.9rem;
    color: var(--blue-color);
    margin-top: 0.5rem;
}

.service button {
    background-color: var(--blue-color);
    border-radius: 29px;
    border: none;
    padding: 0.5rem 2rem;
    margin-top: 2.5rem;
}

.service button a {
    text-decoration: none;
    font-family: var(--jost-book-font);
    font-size: 0.9rem;
    color: var(--white-color);
}

#services-list .service-1 {
    grid-area: 1 / 1 / span 1 / span 1;
}

#services-list .service-2 {
    grid-area: 1 / 2 / span 1 / span 1;
}

#services-list .service-3 {
    grid-area: 1 / 3 / span 1 / span 1;
}

#services-list .service-4 {
    grid-area: 1 / 4 / span 1 / span 1;
}

/* About Us */

#about-us {
    width: 100%;
    height: auto;
    background-color: var(--blue-color);
    padding: 4.5rem 0;
    background-image: url('../images/svg/about-us-illustration.svg');
    background-repeat: no-repeat;
    background-size: 103%;
    background-position: -100px -105px;
    display: flex;
    align-items: center;
}

.about-us-container {
    width: 88%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us-content {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
}

.about-us-content-container {
    width: 80%;
    height: auto;
}

.about-us-content h2 {
    font-family: var(--poppins-regular-font);
    font-size: 2rem;
    font-weight: normal;
    color: var(--white-color);
    position: relative;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
}

.about-us-content h2::before {
    content: '';
    width: 50px;
    height: 3px;
    background-color: var(--orange-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(10px);
}

.about-us-content header p {
    color: var(--orange-color);
    font-family: var(--poppins-regular-font);
    font-weight: normal;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
} 

.about-us-content p {
    color: var(--white-color);
    font-family: var(--poppins-light-font);
    font-weight: normal;
    font-size: 0.9rem;
}

.about-us-content button {
    background-color: var(--orange-color);
    border-radius: 29px;
    border: none;
    padding: 0.8rem 3rem;
    margin-top: 2.5rem;
}

.about-us-content button a {
    text-decoration: none;
    font-family: var(--jost-book-font);
    font-size: 0.9rem;
    color: var(--white-color);
    text-transform: uppercase;
}

/* Portfolio */

#portfolio {
    width: 100%;
    height: auto;
    background-color: var(--grey-color);
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    background-image: url('../images/svg/polygon-shapes.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -100px;
}

#portfolio header {
    width: 36%;
    height: auto;
    text-align: center;
    margin: 0 auto 6rem;
}

#portfolio header h2 span {
    font-family: var(--poppins-regular-font);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--blue-color);
    letter-spacing: -0.5px;
}

#portfolio header h2 {
    font-family: var(--poppins-medium-font);
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: -2px;
    color: var(--orange-color);
    text-transform: uppercase;
    position: relative;
}

#portfolio header h2::after {
    content: '';
    width: 20%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--blue-color);
    position: absolute;
    bottom: 0;
    left: 39.3%;
    transform: translateY(10px);
    opacity: 0.9;
}

#portfolio header p {
    font-family: var(--poppins-regular-font);
    font-size: 1rem;
    color: var(--blue-color);
    margin-top: 1.5rem;
}

#portfolio-projects {
    margin: auto;
    width: 88%;
    height: auto;
    display: grid;
    grid-template: repeat(3, 250px) / repeat(4, 1fr);
    grid-gap: 10px;
}

#portfolio-projects .project {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    overflow: hidden;
}

#portfolio-projects .project .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.overlay ul {
    list-style-type: none;
}

.overlay ul li {
    display: inline-block;
}

.overlay .far, 
.overlay .fas {
    color: var(--white-color);
    font-size: 1.2rem;
}

.overlay .fas {
    margin-left: 1rem;
}

.overlay .far:hover,
.overlay .fas:hover {
    color: var(--orange-color);
    transform: scale(1.5);
    transition: all ease 0.1s;
    cursor: pointer;
}

#portfolio-projects .project:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.project-1 {
    grid-area: 1 / 1 / span 1 / span 1;
    background-image: url('../images/projects/project-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

.project-2 {
    grid-area: 1 / 2 / span 1 / span 1;
    background-image: url('../images/projects/project-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

.project-3 {
    grid-area: 1 / 3 / span 1 / span 1;
    background-image: url('../images/projects/project-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

.project-4 {
    grid-area: 1 / 4 / span 1 / span 1;
    background-image: url('../images/projects/project-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

.project-5 {
    grid-area: 2 / 1 / span 1 / span 1;
    background-image: url('../images/projects/project-5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

.project-6 {
    grid-area: 2 / 2 / span 1 / span 2;
    background-image: url('../images/projects/project-6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

.project-7 {
    grid-area: 2 / 4 / span 1 / span 1;
    background-image: url('../images/projects/project-7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

.project-8 {
    grid-area: 3 / 1 / span 1 / span 2;
    background-image: url('../images/projects/project-8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

.project-9 {
    grid-area: 3 / 3 / span 1 / span 1;
    background-image: url('../images/projects/project-9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

.project-10 {
    background-color: var(--blue-color);
    padding: 1.5rem 2rem;
}

.project-10 h3 span {
    font-family: var(--poppins-light-font);
    font-size: 0.9rem;
}

.project-10 h3 {
    color: var(--white-color);
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: var(--poppins-medium-font);
    line-height: 1.4;
}

.project-10 p {
    color: var(--white-color);
    font-family: var(--poppins-light-font);
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.project-10 a {
    font-family: var(--poppins-regular-font);
    color: var(--orange-color);
    text-decoration: none;
    padding-bottom: 1rem;
    display: inline-block;
    margin-top: 2rem;
    position: relative;
}

.project-10 a::after {
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--orange-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-15px);
}

/* Get A Quote */

#get-a-quote {
    width: 100%;
    height: auto;
    background-color: var(--blue-color);
    padding: 5.5rem 0;
    background-image: url('../images/svg/quote-illustration.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85px;
}

.quote-container {
    width: 88%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
}

.get-a-quote-form {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.form-container {
    width: 75%;
}

.get-a-quote-form header h2 {
    font-family: var(--jost-book-font);
    font-size: 2rem;
    font-weight: normal;
    color: var(--white-color);
    text-transform: uppercase;
}

.get-a-quote-form header p {
    color: var(--white-color);
    font-family: var(--poppins-light-font);
    font-weight: normal;
    font-size: 0.9rem;
}

#form {
    margin-top: 2rem;
}

#name {
    outline: none;
    width: 100%;
    border-radius: 5px;
    padding: 14px 20px;
    font-family: var(--poppins-regular-font);
    margin-bottom: 12px;
    border: none;
}

#email {
    outline: none;
    width: 100%;
    border-radius: 5px;
    padding: 14px 20px;
    font-family: var(--poppins-regular-font);
    margin-bottom: 12px;
    border: none;
}

#message {
    width: 100%;
    height: 130px;
    resize: none;
    outline: none;
    border-radius: 5px;
    padding: 14px 20px;
    font-family: var(--poppins-regular-font);
    border: none;
}

.get-a-quote-form [type="submit"] {
    background-color: var(--orange-color);
    border-radius: 29px;
    border: none;
    padding: 0.8rem 3rem;
    margin-top: 1.5rem;
    font-family: var(--jost-book-font);
    font-size: 0.9rem;
    color: var(--white-color);
    text-transform: uppercase;
    cursor: pointer;
}

.quote-container .team-illustartion {
    width: 55%;
}

/* Frequently Asked Questions */

#frequently-asked-questions {
    width: 100%;
    height: 600px;
    background-color: var(--grey-color);
    padding: 6.5rem 0;
    /*
    background-image: url('../images/svg/polygon-shapes.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -100px;
    */
}

#frequently-asked-questions .conatiner {
    width: 88%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#frequently-asked-questions .header-area {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
}

#frequently-asked-questions header p {
    color: var(--blue-color);
    font-family: var(--jost-medium-font);
    font-weight: normal;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

#frequently-asked-questions header h2 span {
    color: var(--blue-color);
}

#frequently-asked-questions header h2 {
    font-family: var(--poppins-medium-font);
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -2px;
    color: var(--orange-color);
    text-transform: uppercase;
}

#frequently-asked-questions header .description {
    font-family: var(--poppins-regular-font);
    font-size: 0.95rem;
    color: var(--blue-color);
    margin-top: 0.5rem;
    text-transform: none;
}

#frequently-asked-questions a {
    font-family: var(--poppins-regular-font);
    color: var(--orange-color);
    text-decoration: none;
    padding-bottom: 1rem;
    display: inline-block;
    margin-top: 2rem;
    position: relative;
}

#frequently-asked-questions a::after {
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--orange-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-15px);
}

#frequently-asked-questions .questions {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.questions-container {
    width: 95%;
    height: auto;
}

.accordion[aria-expanded="false"] {
    width: 100%;
    max-height: 3.5rem;
    transition: max-height 200ms linear, background-color 100ms linear;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 1rem 2rem;
    background-color: var(--off-white-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.accordion[aria-expanded="false"] h3 {
    font-family: var(--poppins-medium-font);
    font-weight: normal;
    font-size: 0.95rem;
    color: var(--blue-color);
    position: relative;
}

.accordion[aria-expanded="false"] h3::before {
    content: '+';
    color: var(--blue-color);
    font-size: 1.35rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    
}

.accordion[aria-expanded="false"] h3:hover {
    color: var(--orange-color);
}

.accordion[aria-expanded="false"] h3:hover:before {
    color: var(--orange-color);
}

.accordion[aria-expanded="false"] .answer {
    font-family: var(--poppins-medium-font);
    font-size: 0.85rem;
    color: var(--blue-color);
    text-transform: none;
    margin-left: 2.3rem;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms linear, opacity 100ms linear;
}

.fa-question-circle {
    color: var(--orange-color);
    margin-right: 1rem;
    font-size: 1.2rem;
    transform: translateY(2px);
}

/* After toggle */

.accordion[aria-expanded="true"] {
    max-height: 10rem;
    transition: max-height 200ms linear, background-color 200ms linear;
    background-color: var(--blue-color);
    border-left: 5px solid var(--orange-color);
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 1rem 2rem;
    background-color: var(--blue-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.accordion[aria-expanded="true"] .answer {
    font-family: var(--poppins-light-font);
    font-size: 0.85rem;
    color: var(--white-color);
    text-transform: none;
    margin-left: 2.3rem;
    margin-top: 1.1rem;
    max-height: 9rem;
    overflow: hidden;
    opacity: 1;
    transition: all 200ms linear;
}

.accordion[aria-expanded="true"] h3 {
    font-family: var(--poppins-medium-font);
    font-weight: normal;
    font-size: 0.95rem;
    color: var(--orange-color);
    position: relative;
}

.accordion[aria-expanded="true"] h3::before {
    content: '-';
    color: var(--white-color);
    font-size: 1.35rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* Call To Action */

#call-to-action {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: var(--blue-color);
    /*
    background-image: url('../images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    */
}

.cta-container {
    width: 88%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
}

.people-flying-illustration {
    flex: 1;
}

.people-flying-illustration figure img {
    width: 100%;
    height: auto;
}

.cta-content {
    flex: 2;
    text-align: center;
}

.cta-content h2 span {
    font-family: var(--poppins-regular-font);
    font-size: 1.8rem;
    color: var(--white-color);

}

.cta-content h2 {
    font-family: var(--poppins-medium-font);
    font-weight: normal;
    font-size: 2rem;
    color: var(--orange-color);
    line-height: 1.2;
}

.cta-content p {
    font-family: var(--poppins-light-font);
    font-size: 0.85rem;
    color: var(--white-color);
    text-transform: none;
    margin-top: 0.5rem;
}

.cta-content button {
    background-color: var(--orange-color);
    border-radius: 29px;
    border: none;
    padding: 0.8rem 3rem;
    margin-top: 2.5rem;
}

.cta-content button a {
    text-decoration: none;
    font-family: var(--jost-book-font);
    font-size: 0.9rem;
    color: var(--white-color);
    text-transform: uppercase;
}

.universe-illustration {
    flex: 1;
}

.universe-illustration figure img {
    width: 100%;
    height: auto;
}

/* Footer */

footer {
    width: 100%;
    height: auto;
    background-color: var(--blue-color);
    font-family: var(--poppins-light-font);
    font-size: 0.85rem;
    color: var(--white-color);
}

.footer-container {
    width: 88%;
    height: auto;
    border-top: 1px solid var(--grey-color);
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.copyright {
    flex: 1;
}

.information  {
    text-align: right;
    flex: 1;
}

.information ul {
    list-style-type: none;
}

.information ul li {
    display: inline-block;
}

.information ul li a {
    text-decoration: none;
    color: var(--white-color);
    margin-left: 2rem;
}
